<%= form_for(@track, :html => { :multipart => true, :class => "form-horizontal form-signup"}) do |f| %>
  <fieldset>
    <legend>Add A Track</legend>
  <% if @track.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
        The form contains <%= pluralize(@track.errors.count, "error") %>
      </div>
      <ul>
      <% @track.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :title %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :artist, :class => "control-label" %>
    <div class="controls">
      <%= select_tag "artists", options_from_collection_for_select(@artists, :id, :name, @track.artists.map{ |j| j.id}), :multiple =>true  %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :genre, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :genre %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :length, :class => "control-label" %>
    <div class="controls">
    <%= f.text_field :length %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :bpm, :class => "control-label" %>
    <div class="controls">
      <%= f.number_field :bpm %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :key, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :key %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :release_date, :class => "control-label" %>
    <div class="controls">
      <%= f.date_field :release_date %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :price, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :price %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :audio, :class => "control-label" %>
    <div class="controls">
      <%= f.file_field :audio  %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit " Add Track", :class => "btn btn-primary" %>
  </div>
  <%= link_to 'Back', tracks_path %><br />
  <%= link_to 'Show', @track %>
  </fieldset>
<% end %>
