<h1>All Tracks</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Genre</th>
      <th>Length</th>
      <th>Bpm</th>
      <th>Key</th>
      <th>Release Date</th>
      <th>Price</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tracks.each do |track| %>
      <tr>
        <td><%= link_to(track.title, track_path(track)) %></td>
        <td><%= track.genre %></td>
        <td><%= track.length %></td>
        <td><%= track.bpm %></td>
        <td><%= track.key %></td>
        <td><%= track.release_date %></td>
        <td><%= track.price %></td>
        <% if user_signed_in? && current_user.admin? %>
        <td><%= link_to 'Edit', edit_track_path(track), :class => "btn btn-mini btn-primary" %></td>
        <td><%= link_to 'Destroy', track, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-mini" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? && current_user.admin? %>
<%= link_to 'New Track', new_track_path %>
<% end %>
