
<p>
  <strong>Title:</strong>
  <%= @track.title %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @track.genre %>
</p>

<p>
  <strong>Length:</strong>
  <%= @track.length %>
</p>

<p>
  <strong>Bpm:</strong>
  <%= @track.bpm %>
</p>

<p>
  <strong>Key:</strong>
  <%= @track.key %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @track.release_date %>
</p>

<p>
  <strong>Price:</strong>
  <%= @track.price %>
</p>

<% if user_signed_in? && current_user.admin? %>
<%= link_to 'Edit', edit_track_path(@track) %>|
<% end %>
<%= link_to 'Back', tracks_path %>
