
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form-signup" }) do |f| %>
  <fieldset>
    <legend>Edit Your Account Details</legend>
  <%= devise_error_messages! %>
  <%= f.text_field :fname, :autofocus => true, :placeholder => "First Name" %><br />
  <%= f.text_field :lname, :placeholder => "Last Name"  %><br /> 
  <%= f.email_field :email, :placeholder => "Email Address" %><br />
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off",  :placeholder => "New Password" %><br />
  <%= f.password_field :password_confirmation, :placeholder => "Confirm New Password" %><br />
  <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %><br />
  <div class="form-actions"><%= f.submit "Update", class: "btn btn-lg btn-primary" %></div>
  </fieldset>

  <fieldset>
    <legend>Cancel Account</legend>
  <div class="form-actions"><%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "btn btn-danger" %></div>  
<%= link_to "Back", :back %>
  </fieldset>
<% end %>



