
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "form-signup"}) do |f| %>
<fieldset>
    <legend>Create a RhythmRefuge Account</legend>
      <%= devise_error_messages! %>
  
  <%= f.text_field :fname, :autofocus => true, :placeholder => "First Name" %><br />
  
  <%= f.text_field :lname, :placeholder => "Last Name" %><br />

  <%= f.email_field :email, :placeholder => "Email Address" %><br />

  <%= f.password_field :password, :placeholder => "Password" %><br />

  <%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %><br />

  <div class="form-actions"><%= f.submit "Sign up", class: "btn btn-lg btn-primary"%></div>
</fieldset> 
<%= render "devise/shared/links" %>
<% end %>

