<%= form_for(@artist, :html => {:multipart => true, :class => "form-horizontal form-signup"}) do |f| %>
  <fieldset>
    <legend>Add An Artist</legend>
  <% if @artist.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
        This form contains <%= pluralize(@artist.errors.count, "error") %>
      </div>
      <ul>
      <% @artist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="control-group">
    <%= f.label :name, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :bio, :class => "control-label" %>
    <div class="controls">
      <%= f.text_area :bio, :size => "80x10" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :picture, :class => "control-label" %>
    <div class="controls">
      <%= f.file_field :picture %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit "Add Artist", :class => "btn btn-primary" %>
  </div>
  <%= link_to 'Back', artists_path %>
  </fieldset>
<% end %>
