<h1>Listing artists</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Bio</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <td><%= link_to artist.name, artist_path(artist) %></td>
        <td><%= artist.bio %></td>
        <% if user_signed_in? && current_user.admin? %>
        <td><%= link_to 'Edit', edit_artist_path(artist), :class => "btn btn-primary btn-mini" %></td>
        <td><%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-mini" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%if user_signed_in? && current_user.admin? %>
<%= link_to 'New Artist', new_artist_path %>
<% end %>
