<%= form_for(@remixer) do |f| %>
  <% if @remixer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@remixer.errors.count, "error") %> prohibited this remixer from being saved:</h2>

      <ul>
      <% @remixer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :artist_id %><br>
    <%= f.number_field :artist_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
