<h1>Listing remixers</h1>

<table>
  <thead>
    <tr>
      <th>Artist</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @remixers.each do |remixer| %>
      <tr>
        <td><%= remixer.artist_id %></td>
        <td><%= link_to 'Show', remixer %></td>
        <td><%= link_to 'Edit', edit_remixer_path(remixer) %></td>
        <td><%= link_to 'Destroy', remixer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Remixer', new_remixer_path %>
