<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @admin.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @admin.lname %>
</p>

<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>
