<div class="row">
  <div class="span3">
    <p style="background-color: black; color: white; text-align: center;">FEATURED ARTISTS</p>
    <div id="artistCarousel" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#artistCarousel" data-slide-to="0" class="active"</li>
        <li data-target="#artistCarousel" data-slide-to="1"</li>
        <li data-target="#artistCarousel" data-slide-to="2"</li>
        <li data-target="#artistCarousel" data-slide-to="3"</li>
        <li data-target="#artistCarousel" data-slide-to="4"</li>
      </ol>
      <div class="carousel-inner">
        <% @artists.each_with_index do |artist, i| %>
        <div class="<%= i == 0 ? "active item" : "item" %>"><%= image_tag(artist.picture_url) %></div>
        <% end %>
      </div>
  
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#artistCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#artistCarousel" data-slide="next">&rsaquo;</a>
    </div>
  </div>
  <div class="span9">
    <p style="background-color: black; color: white; text-align: center;">FEATURED TRACKS</p>
    <table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>#</th>
      <th>TRACK NAME</th>
      <th>ARTISTS</th>
      <th>GENRE</th>
      <th>LENGTH</th>
      <th>BPM</th>
      <th>KEY</th>
      <th>RELEASE DATE</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% i=0 %>
    <%  @tracks.each do |track| i+=1 %>
    <tr>
      <td><%= i %>.</td>
      <td><%= link_to track.title, track_path(track) %></td>
      <td>
        <% track.artists.each do |artist| %>
        <%= link_to artist.name, artist_path(artist) %>
        <%= ", " unless artist == track.artists.last %>
        <% end %>
      </td>
      <td><%= track.genre %></td>
      <td><%= track.length %></td>
      <td><%= track.bpm %></td>
      <td><%= track.key %></td>
      <td><%= track.release_date %></td>
      <td><%= track.price %></td>
      <td><%= link_to raw("<i class=\"icon-shopping-cart\"></i>"), line_items_path(track_id: track), class: "btn-btn-success", method: :post %></td>
    </tr>
    <% end %>
  </tbody>
</table>

  </div>
</div>

    <!-- Marketing messaging and featurettes
     ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container marketing">
<!-- Three columns of text below the carousel -->
  <div class="row">
    <% @djs.each do |dj| %>
    <div class="span4">
      <img class="img-circle" src="<%= dj.picture_url(:thumb) %>">
      <h2><%= dj.name %></h2>
      <p><%= dj.bio %></p>
      <p><a class="btn" href="<%= artist_path(dj.id) %>">View &raquo;</a></p>
    </div><!-- /.span4 -->
    <% end %>
  </div><!-- /.row -->
  
  <!-- START THE FEATURETTES -->
   <hr class="featurette-divider">

   <div class="featurette">
     <img class="featurette-image pull-right" src="../assets/img/examples/browser-icon-chrome.png">
     <h2 class="featurette-heading">Why pirate music for free when you can overpay for it here?<span class="muted">Something, Something.</span></h2>
     <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
</div>
