<h1>SEARCH FOR: "<%= params[:query].upcase %> "</h1>
<h3>Tracks</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>TRACK NAME</th>
      <th>ARTISTS</th>
      <th>GENRE</th>
      <th>LENGTH</th>
      <th>BPM</th>
      <th>KEY</th>      
      <th>RELEASE DATE</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% i=0 %>
    <%  @tracks.each do |track| i+=1 %>
    <tr>
      <td><%= i %>.</td>
      <td><%= link_to track.title, track_path(track) %></td>
      <td>
        <% track.artists.each do |artist| %>
        <%= link_to artist.name, artist_path(artist) %>
        <%= ", " unless artist == track.artists.last %>
        <% end %>
      </td>
      <td><%= track.genre %></td>
      <td><%= track.length %></td>
      <td><%= track.bpm %></td>
      <td><%= track.key %></td>
      <td><%= track.release_date %></td>
      <td><%= track.price %></td>
      <td><%= link_to raw("<i class=\"icon-shopping-cart\"></i>"), line_items_path(track_id: track), class: "btn-btn-success", method: :post %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<h3>Artists</h3>
<table class="table">
  <tbody>
    <% @artists.in_groups_of(2, false) do |artists| %>
    <tr>
      <% artists.each do |artist| %>
      <td class="right"><%= link_to(image_tag(artist.picture_url(:thumb)), artist_path(artist)) %></td>
      <td><%= link_to(artist.name, artist_path(artist)) %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
 
