<%= form_for([@user, @order], :html => { :multipart => true, :class => "form-signup" }) do |f| %>
  <% us_states = [
      ['State', nil],
      ['Alabama', 'AL'],
      ['Alaska', 'AK'],
      ['Arizona', 'AZ'],
      ['Arkansas', 'AR'],
      ['California', 'CA'],
      ['Colorado', 'CO'],
      ['Connecticut', 'CT'],
      ['Delaware', 'DE'],
      ['District of Columbia', 'DC'],
      ['Florida', 'FL'],
      ['Georgia', 'GA'],
      ['Hawaii', 'HI'],
      ['Idaho', 'ID'],
      ['Illinois', 'IL'],
      ['Indiana', 'IN'],
      ['Iowa', 'IA'],
      ['Kansas', 'KS'],
      ['Kentucky', 'KY'],
      ['Louisiana', 'LA'],
      ['Maine', 'ME'],
      ['Maryland', 'MD'],
      ['Massachusetts', 'MA'],
      ['Michigan', 'MI'],
      ['Minnesota', 'MN'],
      ['Mississippi', 'MS'],
      ['Missouri', 'MO'],
      ['Montana', 'MT'],
      ['Nebraska', 'NE'],
      ['Nevada', 'NV'],
      ['New Hampshire', 'NH'],
      ['New Jersey', 'NJ'],
      ['New Mexico', 'NM'],
      ['New York', 'NY'],
      ['North Carolina', 'NC'],
      ['North Dakota', 'ND'],
      ['Ohio', 'OH'],
      ['Oklahoma', 'OK'],
      ['Oregon', 'OR'],
      ['Pennsylvania', 'PA'],
      ['Puerto Rico', 'PR'],
      ['Rhode Island', 'RI'],
      ['South Carolina', 'SC'],
      ['South Dakota', 'SD'],
      ['Tennessee', 'TN'],
      ['Texas', 'TX'],
      ['Utah', 'UT'],
      ['Vermont', 'VT'],
      ['Virginia', 'VA'],
      ['Washington', 'WA'],
      ['West Virginia', 'WV'],
      ['Wisconsin', 'WI'],
      ['Wyoming', 'WY']
    ]
    months = [
      ['Exp Month', nil],
      ['January', '01'],
      ['February', '02'],
      ['March', '03'],
      ['April', '04'],
      ['May', '05'],
      ['June', '06'],
      ['July', '07'],
    ['August', '08'],
      ['September', '09'],
      ['October', '10'],
      ['November', '11'],
      ['December', '12']
    ]
    years = [
      ['Exp Year', nil],
      ['2013', '2013'],
      ['2014', '2014'],
      ['2015', '2015'],
      ['2016', '2016'],
      ['2017', '2017'],
      ['2018', '2018'],
      ['2019', '2019'],
      ['2020', '2020'],
      ['2021', '2021']
    ]
    cc_types = [
      ['Payment Card Type', nil],
      ['American Express', 'Amex'],
      ['Mastercard', 'Mastercard'],
      ['Visa', 'Visa']
    ]
      %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
      The form contains <%= pluralize(@order.errors.count, "error") %>
      </div>
      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h2>Billing Information</h3>
  <legend>CREDIT/DEBIT CARD INFORMATION</legend>
    <%= f.text_field :first_name, :value => current_user.fname %><br />
    <%= f.text_field :last_name, :value => current_user.lname %><br />
    <%= f.select :cc_type, options_for_select(cc_types) %><br />
    <%= f.text_field :cc_number, :placeholder => "Card Number" %><br />
    <%= f.text_field :cvv, :placeholder => "Security Code" %><br />
    <%= f.select :exp_month, options_for_select(months) %>
    <%= f.select :exp_year, options_for_select(years) %><br />
    <legend>BILLING ADDRESS</legend>
    <%= f.text_field :addr_1, :placeholder => "Address 1" %><br />
    <%= f.text_field :addr_2, :placeholder => "Address 2" %><br />
    <%= f.text_field :city, :placeholder => "City" %><br />
    <%= f.text_field :zip, :placeholder => "Zip Code" %><br />
    <%= f.select :state, options_for_select(us_states) %><br />
  <div class="form-actions">
    <%= f.submit "Place Order", :class => "btn btn-success" %>
  </div>
<% end %>
                                                                                                    

