<h1>Listing orders</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Cc type</th>
      <th>Cc number</th>
      <th>Exp month</th>
      <th>Exp year</th>
      <th>Addr 1</th>
      <th>Addr 2</th>
      <th>City</th>
      <th>Zip</th>
      <th>State</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.first_name %></td>
        <td><%= order.last_name %></td>
        <td><%= order.cc_type %></td>
        <td><%= order.cc_number %></td>
        <td><%= order.exp_month %></td>
        <td><%= order.exp_year %></td>
        <td><%= order.addr_1 %></td>
        <td><%= order.addr_2 %></td>
        <td><%= order.city %></td>
        <td><%= order.zip %></td>
        <td><%= order.state %></td>
        <td><%= order.user %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
