<h2> Shopping Cart</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>TRACK NAME</th>
      <th>ARTISTS</th>
      <th>GENRE</th>
      <th>LENGTH</th>
      <th>BPM</th>
      <th>KEY</th>
      <th>RELEASE DATE</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% i=0
       total =0 %>
    <%  @cart.line_items.each do |item| 
      i+=1
      total += item.track.price %>
    <tr>
      <td><%= i %>.</td>
      <td><%= link_to item.track.title, track_path(item.track) %></td>
      <td>
        <% item.track.artists.each do |artist| %>
        <%= link_to artist.name, artist_path(artist) %>
        <%= ", " unless artist == item.track.artists.last %>
        <% end %>
      </td>
      <td><%= item.track.genre %></td>
      <td><%= item.track.length %></td>
      <td><%= item.track.bpm %></td>
      <td><%= item.track.key %></td>
      <td><%= item.track.release_date %></td>
      <td>$<%= item.track.price %></td>
      <td><%= link_to raw("<i class=\"icon-trash\"></i>"), item, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger btn-mini" %></td>
    </tr>
    <% end %>
    <tr class="total_line info">
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Total</td>
      <td class="total_cell">$<%= total %></td>
    </tr>
  </tbody>
</table>
<div>
  <%= button_to 'Empty Cart', @cart, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger btn-mini" %>
  <%= button_to 'Checkout', new_order_path, method: :get, class: "btn btn-success btn-large" %>
</div>
