
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-signup"}) do |f| %>
  <fieldset>
    <legend>Sign In</legend>
     <%= devise_error_messages! %>
  <%= f.email_field :email, :autofocus => true, :placeholder => "Email Address" %><br />

  <%= f.password_field :password, :placeholder => "Password" %><br />

  <% if devise_mapping.rememberable? -%>
    <%= f.check_box :remember_me %> Remember Me
  <% end -%>

  <div class="form-actions"><%= f.submit "Sign in", :class => "btn btn-lg btn-primary" %></div>
  </fieldset>
<%= render "devise/shared/links" %>
<% end %>

