<!DOCTYPE html>
<html>
<head>
  <title>RhythmRefuge</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">RhythmRefuge</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "Home", root_path %></li>
            <li class="dropdown">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle">Genres<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <% genres.each do |item| %>
                  <li><%= link_to item.genre, genres_path(:genre => item.genre) %></li>
                  <% end %>
                </ul>
            </li>
          </ul>
          <%= form_tag "/query", method: "get", class: "navbar-search navbar-left" do %>
            <div class="form-group">
              <div class="input-append">
                <%= text_field_tag :query, params[:query], :class => "form-control", :placeholder => "Search by Track or Artist" %>
                <%= button_tag :type => "submit", :class => "btn btn-default" do %>
                  <i class="icon-search"></i>
                <% end %>
              </div>
            </div>
          <% end %>
          <ul class="nav pull-right">
            <% if user_signed_in? %>
            <li class="navbar-text">Welcome, <strong><%= current_user.fname %></strong></li>
            <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
            <% if current_user.admin? %>
            <li class="dropdown">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle">Admin Menu<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Add New Track', new_track_path %></li>
                  <li><%= link_to 'Add New Artist', new_artist_path %></li>
                </ul>
            </li>
            <% end %>
            <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
            <li><%= link_to raw("<i class=\"icon-shopping-cart icon-white\"></i>"), cart_path(current_user.cart.id) %>
          <% else %>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <li><%= link_to "Login", new_user_session_path %></li>
          <% end %>
          </ul>

        </div>
      </div>
    </div>
  </div>
  <div class="container main">
    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
        <a class="close" data-dismiss="alert">&times;</a>
        <%= msg %>
      </div>
    <% end %>
    
    <div class="container">
        <%= yield %>
    </div>
  </div>
  <div id="footer">
    <div class="container">
      <p class="muted credit">Copyright 2013 RhythmRefuge </p>
    </div>
  </div>

</body>
</html>
